body {
  width: 1280px;
}

.container {
  width: 1200px;
  margin:  0 auto;
}

.main-header {
  position: relative;
}

.main-navigation__list {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 0;
}

.main-navigation__item {
  width: 150px;
  min-height: 55px;
}

.logo {
  position: absolute;
  left: 530px;
  top: 0;
  z-index: 2;
}

.image {
  height: 510px;
  overflow: hidden;
}

.image::after {
  display: block;
  height: 57px;
  background: url("img/mountains_footer.png") no-repeat;

}

.sedona-header {
  text-align: center;
  margin-bottom: 60px;
}

.sedona-image-block {
  display: flex;
}

.about-block {
  text-align: center;
  display: block;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 55px;
}

.about-block__caption {
  margin-bottom: 00px;
}

.about-block__number {
  margin-bottom: 30px;
}

.sedona-block-img {
  width: 800px;
  display: block;
}

.sedona-list {
  display: flex;
}

.sedona-list-item {
  text-align: center;
  margin-right: 20px;
  padding-bottom: 90px;
  padding-top: 60px;
}

.sedona-list-item__description {
  margin-bottom: 0;
}

.sedona-list-item:first-child {
  width: 255px;
  margin-left: 75px;
  margin-right: 130px;
}

.sedona-list-item:nth-child(2) {
  width: 290px;
  margin-right:120px;
}

.sedona-list-item:last-child {
  width: 275px;
}

.sedona-list-item::before {
  margin: 0 auto;
}

.about-blocks {
  display: flex;
}

.search-form {
  text-align: center;
}

.input {
  width: 570px;
  margin: 0 auto;
  padding-top: 55px;
}

.footer {
  display: flex;
}

.social-list {
  display: flex;
  justify-content:center;
  width: 400px;
  margin-right: 90px;
}

.footer-hash {
  width: 240px;
  text-align: center;
  margin-left: 70px;
  margin-right: 90px;
}

.copyright {
  width: 240px;
  justify-content:center;
}
