body {

font-family:PT Sans, Arial, sans-serif;
font-size: 14px;
line-height: 26px;
font-weight: normal;
}

.main-navigation__link {

font-weight: bold;
text-decoration: none;
}

.main-navigation__list {

  list-style: none;
}

h2 {

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.about-block__caption {

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.about-block__decription {

  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
}

.sedona-list-item__caption {

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.search-form__description {

  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.sedona-list-item__description {

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.search-form__link {

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.input__button {

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.search-form__caption {

  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

.input-data__label {

  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.about__link {

  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.checkboxes-list__caption {

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.found-list {

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.cost__button {

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.about {

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.status__rating {

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.cost__caption {

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter {
  background: url("../img/background.jpg") no-repeat;
}
